{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    "@loadable/babel-plugin",
    "css-modules-transform",
    "dynamic-import-node",
    "dynamic-import-webpack"
  ],
  "presets": [
    "@babel/env",
    "@babel/react",
    "@babel/typescript"
  ],
  "env": {
    "development": {
      "presets": [
        ["@babel/env", { "modules": false }],
        "@babel/react"
      ]
    }
  }
}
