$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

.card > .card-img-overlay {
  background: rgba(90,97,105,.6);
  padding: 1.25rem;

  &:hover {
    background: rgba(90,97,105,0.1);

    & > div {
      opacity: 0;
    }
  }
}

.conference-card {
  height: 200px;
}

@media screen and (min-width: map_get($grid-breakpoints, 'md')) {
  .conference-card {
    height: 200px;
  }
}

@media screen and (min-width: map_get($grid-breakpoints, 'lg')) {
  .conference-card {
    height: 250px;
  }
}

@media screen and (min-width: map_get($grid-breakpoints, 'xl')) {
  .conference-card {
    height: 300px;
  }
}
